@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, ul {
	margin: 0;
	padding: 0;
}

h1 {
	letter-spacing: 10px;
	font-family: "Montserrat", sans-serif;
}

h2 {
	letter-spacing: 4px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	padding-top: 1rem;
}

h3 {
	letter-spacing: 2px;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	padding: 1rem;
}

p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 13px;
	line-height: 1.5rem;
	text-align: center;
}

.sub {
	letter-spacing: 5px;
	line-height: .75rem;
}

a {
	text-decoration: none;
	border-bottom: none;
	line-height: 2rem;
}

a:hover,
a:active,
a:focus {
	border-bottom: 3px white solid;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}

.upper {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.white {
	color: white;
}

.photo {
	width: 100%;
	padding-top: 6rem;
	padding-bottom: 10rem;
	background: transparent url("../images/bg.JPG") no-repeat center top;
	background-size: cover;
}

.info {
	padding: 6rem 2rem;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	position: relative;
	bottom: 0;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

[class^="icon-"]:hover:before, [class*=" icon-"]:hover:before {
	bottom: 15px;
}

li {
	list-style-type: none;
}

.activities{
	width: 100%;
	padding: 1.5rem;
}

@media only screen and (min-width: 40em) {
	.activities {
		float: left;
		width: 50%;
	}

	.photo {
		padding-bottom: 40rem;
	}

}

@media only screen and (min-width: 70em) {
	.activities {
		float: left;
		width: 25%;
	}

}