/* This file imports all your scss partials to be compiled in on stylesheet,
which you can attach to your html 
All files that prefixed with an underscore
"_name-of-file.scss" are called partials - meaning that their css isn't compiled unless it's 
imported into an unprefixed .scss file
*/
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 17, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
body, ul {
  padding: 0;
  margin: 0;
  color: white;
  text-align: center; }

/* line 28, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px; }

/* line 33, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 1rem;
  letter-spacing: 4px; }

/* line 40, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
.sub {
  letter-spacing: 5px;
  line-height: 0.75rem; }

/* line 45, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 1.5rem; }

/* line 51, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
li {
  list-style-type: none; }

/* line 55, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
.upper {
  text-transform: uppercase; }

/* line 59, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
.photo {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 10rem;
  background: transparent url("../images/bg.JPG") no-repeat center top;
  background-size: cover; }

/* line 67, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
.info {
  padding: 6rem 2rem; }

/* line 71, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
.activities {
  width: 100%;
  padding: 1.5rem; }

@media only screen and (min-width: 40em) {
  /* line 77, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
  .activities {
    float: left;
    width: 50%; }

  /* line 82, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
  .photo {
    padding-bottom: 40rem; }
 }

@media only screen and (min-width: 70em) {
  /* line 89, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
  .activities {
    float: left;
    width: 25%; }
 }

/* line 95, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
[class^="icon-"]:before, [class*=" icon-"]:before {
  position: relative;
  bottom: 0; }

/* line 100, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
[class^="icon-"]:before, [class*=" icon-"]:before {
  transition: all 0.3s ease-in-out; }

/* line 104, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/main */
[class^="icon-"]:hover:before, [class*=" icon-"]:hover:before {
  bottom: 15px; }

@font-face {
  font-family: 'custom-font';
  src: url('../fonts/custom-font.eot?17486564');
  src: url('../fonts/custom-font.eot?17486564#iefix') format('embedded-opentype'), url('../fonts/custom-font.woff?17486564') format('woff'), url('../fonts/custom-font.ttf?17486564') format('truetype'), url('../fonts/custom-font.svg?17486564#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom-font';
    src: url('../fonts/custom-font.svg?17486564#fontello') format('svg');
  }
}
*/
/* line 22, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  font-size: 350%
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 51, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
.icon-weather:before {
  content: '\e800'; }

/* '' */
/* line 52, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
.icon-water:before {
  content: '\e801'; }

/* '' */
/* line 53, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
.icon-moose:before {
  content: '\e802'; }

/* '' */
/* line 54, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
.icon-camping:before {
  content: '\e803'; }

/* '' */
/* line 55, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
.icon-landscape:before {
  content: '\e804'; }

/* '' */
/* line 56, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
.icon-donut:before {
  content: '\e805'; }

/* '' */
/* line 57, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/font */
.icon-fish:before {
  content: '\e806'; }

/* '' */