// Main

body {
	padding: 0;
	margin: 0;
	font-family: $sourcesans;
	color: $primary;
}

.photo {
	width: 100%;
	padding-top: 6rem;
	padding-bottom: 10rem;
	background: transparent url("../images/bg.JPG") no-repeat center top;
	background-size: cover;
}

.info {
	padding: 6rem 2rem;
}

.activities{
	width: 100%;
	padding: 1.5rem;
}