@font-face {
  font-family: 'custom-font';
  src: url('../fonts/custom-font.eot?17486564');
  src: url('../fonts/custom-font.eot?17486564#iefix') format('embedded-opentype'), url('../fonts/custom-font.woff?17486564') format('woff'), url('../fonts/custom-font.ttf?17486564') format('truetype'), url('../fonts/custom-font.svg?17486564#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom-font';
    src: url('../fonts/custom-font.svg?17486564#fontello') format('svg');
  }
}
*/
/* line 22, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  font-size: 350%
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 51, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
.icon-weather:before {
  content: '\e800'; }

/* '' */
/* line 52, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
.icon-water:before {
  content: '\e801'; }

/* '' */
/* line 53, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
.icon-moose:before {
  content: '\e802'; }

/* '' */
/* line 54, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
.icon-camping:before {
  content: '\e803'; }

/* '' */
/* line 55, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
.icon-landscape:before {
  content: '\e804'; }

/* '' */
/* line 56, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
.icon-donut:before {
  content: '\e805'; }

/* '' */
/* line 57, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_font.scss */
.icon-fish:before {
  content: '\e806'; }

/* '' */