/* line 3, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_main.scss */
body {
  padding: 0;
  margin: 0; }

/* line 8, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_main.scss */
.photo {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 10rem;
  background: transparent url("../images/bg.JPG") no-repeat center top;
  background-size: cover; }

/* line 16, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_main.scss */
.info {
  padding: 6rem 2rem; }

/* line 20, /Users/rachellin/Desktop/Algonquin/YEAR 3 - SEMESTER 2/2 - Web Development/week-2-scss/scss/components/_main.scss */
.activities {
  width: 100%;
  padding: 1.5rem; }
